*
{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body
{
    background: rgb(199, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 50px rgba(0, 0, 0, 0.2);
}
.container .left_Side
{
    position: relative;
    background: #390707;
    padding: 40px;
}
.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 110px;
    border-bottom: 5px solid rgba(255, 255, 255, 0.5);
}

.profileText .photoIdentite
{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.profileText .photoIdentite img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 160%;
    object-fit: cover;
}

.profileText h2 span
{
    font-size: 0.8em;
    font-weight: 300;
}

.contactInfo
{
    padding-top: 40px;
}

.title
{
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo ul
{
    position: relative;
}
.contactInfo ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #9c0000;
}
.contactInfo ul li span
{
    color: white;
    font-weight: 300;
}

.contactInfo.competence .percent
{
    position: relative;
    width: 100%;
    height: 3px;
    background: #081921;
    display: block;
    margin-top: 5px;
}
.contactInfo.competence .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #9c0000;  
}



.container .right_Side
{
    position: relative;
    background: #fff;
    padding: 40px;
}

.about
{
    margin-bottom: 50px;
}
.about:last-child
{
    margin-bottom: 0;
}

.title2
{
    color: #9c0000;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.about2
{
    color: #390707;
    text-align: center;
    font-size: 35px;
    margin-top: 3px;
    margin-bottom: 30px;
}
.about2 h3
{
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.about2 h6
{
    text-transform: capitalize;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 20px;
}

.about.formation li
{
    list-style: none;
    margin-bottom: 10px;
}
.about.formation h3
{
    color: #000000;
    font-weight: 1000;
}
.about.formation h4:nth-child(2)
{
    color: #000000;
    font-weight: 1000;
}
.about.formation h4
{
    color: #000000;
    font-weight: 300;
}

.about.experience li
{
    list-style: none;
    margin-bottom: 10px;
}
.about.experience h3
{
    color: #000000;
    font-weight: 1000;
}
.about.experience h4:nth-child(2)
{
    color: #000000;
    font-weight: 1000;
}
.about.experience h4
{
    color: #000000;
    font-weight: 300;
}

@media (max-width: 1000px)
{
    .container
    {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
}